<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE article PUBLIC "-//OASIS//DTD Simplified DocBook XML V1.0//EN"
"http://www.oasis-open.org/docbook/xml/simple/1.0/sdocbook.dtd">
<article>
	<articleinfo>
		<title>Events</title>
	</articleinfo>

	<section>
		<title>What's this about.</title>

		<para>
			This document describes the eventing mechanism and lists the
			available events.
		</para>
	</section>

	<section>
		<title>Eventing mechanism</title>

		<para>
			For any network communication that passes information of what is
			going on at game logic level, we use so called 'events'. The game
			logic's only input
			are events, but it also generates events to be
			passed via network (the server sided logic) or to the gui (the client
			sided logic). Since the server calculates the effective state of the
			game,
			it must be able to throw events telling the client the state of
			the game or its
			changes. Thus we need to distinguish between events
			that are triggered
			by the server and events triggered by the client.
		</para>
		<para>
			Furthermore, every event has got a unique id. The id must be
			unique
			looking at all events and not only for the same event type. The
			convention is
			that server events shall have ids from 101 to 199,
			client events from 1 to 99.
		</para>

		<para>
			We have decided to introduce a third type of events, the so
			called NetworkEvents. Those are events which are not concerned with
			the actual game, but with the whole networking mechanisms behind. For
			example, there will be an event when a client connects or
			disconnected. NetworkEvents have ids between 200 and 299. GUI or
			Server implementers have to implement a 'NetworkEventListener' and
			set it on the GUI or Server.
		</para>

		<para>
			To send the events via network, they must be serialized in some way.
			We decided to
			serialize them into a string starting with a '##'. What
			follows
			<emphasis>always</emphasis>
			is the id of the event. If there is additional info,
			see the table
			below to recognize how it is serialized. The components of the
			additional information
			are seperated by '#'.
		</para>
	</section>


	<section>
		<title>Events</title>

		<table frame="all">
			<title>Server-Events</title>
			<tgroup cols="6">
				<thead>
					<row>
						<entry>Event</entry>
						<entry>Id=arg0</entry>
						<entry>Description</entry>
						<entry>arg1</entry>
						<entry>arg2</entry>
						<entry>arg3</entry>
					</row>
				</thead>
				<tbody>
					<row>
						<entry>SET_POS</entry>
						<entry>101</entry>
						<entry>Sets the position of an object to the given new values of
							x- and y-position.
						</entry>
						<entry>objectId</entry>
						<entry>newX</entry>
						<entry>newY</entry>
					</row>
					<row>
						<entry>SET_OWNER</entry>
						<entry>102</entry>
						<entry>Sets the owner of an object to the given new owner.
						</entry>
						<entry>objectId</entry>
						<entry>ownerId</entry>
					</row>
					<row>
						<entry>SET_VISIBLE</entry>
						<entry>103</entry>
						<entry>Sets the visible attribute of a gameobject.</entry>
						<entry>objectId</entry>
						<entry>true || false</entry>
						<entry>-</entry>
					</row>
					<row>
						<entry>SET_COLLIDABLE</entry>
						<entry>104</entry>
						<entry>Sets the collidable attribute of a gameobject.</entry>
						<entry>objectId</entry>
						<entry>true || false</entry>
						<entry>-</entry>
					</row>
					<row>
						<entry>OBJECT_CREATE</entry>
						<entry>120</entry>
						<entry>Tells that an object has been created.</entry>
						<entry>objectId</entry>
						<entry>ownerId</entry>
						<entry>typeId</entry>
					</row>
					<row>
						<entry>OBJECT_REMOVE</entry>
						<entry>121</entry>
						<entry>Tells that an object has been removed.</entry>
						<entry>objectId</entry>
						<entry>-</entry>
						<entry>-</entry>
					</row>
					<row>
						<entry>SET_ITEM_SLOT</entry>
						<entry>122</entry>
						<entry>Sets the item 'slotNum' in player 'ownerID's inventory to new item 'objectId'.</entry>
						<entry>ownerID</entry>
						<entry>objectId</entry>
						<entry>slotNum</entry>
					</row>
					<row>
						<entry>DEATH</entry>
						<entry>131</entry>
						<entry>Indicates that a gameobject is dead.</entry>
						<entry>objectId</entry>
					</row>
					<row>
						<entry>SETHEALTH</entry>
						<entry>132</entry>
						<entry>Sets health of a gameobject to new value.</entry>
						<entry>objectId</entry>
						<entry>newHealth</entry>
					</row>
					<row>
					    <entry>SET_GAMEMODE</entry>
					    <entry>140</entry>
					    <entry>Sets game mode to a new mode.</entry>
					    <entry>newMode</entry>
					</row>
					<row>
					    <entry>SET_KILLS</entry>
					    <entry>150</entry>
					    <entry>Sets the kill count of a player.</entry>
					    <entry>ownerId</entry>
					    <entry>newCount</entry>
					</row>
					<row>
					    <entry>SET_DEATHS</entry>
					    <entry>151</entry>
					    <entry>Sets the death count of a player.</entry>
					    <entry>ownerId</entry>
					    <entry>newCount</entry>
					</row>
					<row>
						<entry>MATCH_END</entry>
						<entry>190</entry>
						<entry>Tells that the match ended and that the winner has got the passed id.</entry>
						<entry>winnerId</entry>
					</row>
				</tbody>
			</tgroup>
		</table>

		<table>
			<title>Client-Events</title>
			<tgroup cols="7">
				<thead>
					<row>
						<entry>Event</entry>
						<entry>Id=arg0</entry>
						<entry>Description</entry>
						<entry>arg1</entry>
						<entry>arg2</entry>
						<entry>arg3</entry>
						<entry>arg4</entry>
					</row>
				</thead>

				<tbody>
					<row>
						<entry>INFORMATION_REQUEST</entry>
						<entry>1</entry>
						<entry>The client asks for all objects to build its game
							information.
						</entry>
						<entry>requester</entry>
					</row>
					<row>
						<entry>CLIENT_SETNAME</entry>
						<entry>2</entry>
						<entry>The user changed is username. Also used after connecting.
						</entry>
						<entry>ownerId</entry>
						<entry>newName</entry>
					</row>
					<row>
						<entry>MOVE_LEFT_PRESSED</entry>
						<entry>10</entry>
						<entry>The user triggered to move its character to the left.
						</entry>
						<entry>ownerId</entry>
					</row>
					<row>
						<entry>MOVE_RIGHT_PRESSED</entry>
						<entry>11</entry>
						<entry>The user triggered to move its character to the right.
						</entry>
						<entry>ownerId</entry>
					</row>
					<row>
						<entry>MOVE_UP_PRESSED</entry>
						<entry>12</entry>
						<entry>The user triggered to move its character upwards.</entry>
						<entry>ownerId</entry>
					</row>
					<row>
						<entry>MOVE_DOWN_PRESSED</entry>
						<entry>13</entry>
						<entry>The user triggered to move its character downwards.</entry>
						<entry>ownerId</entry>
					</row>
					<row>
						<entry>MOVE_LEFT_RELEASED</entry>
						<entry>14</entry>
						<entry>The user triggered to stop moving its character to the
							left.
						</entry>
						<entry>ownerId</entry>
					</row>
					<row>
						<entry>MOVE_RIGHT_RELEASED</entry>
						<entry>15</entry>
						<entry>The user triggered to stop moving its character to the
							right.
						</entry>
						<entry>ownerId</entry>
					</row>
					<row>
						<entry>MOVE_UP_RELEASED</entry>
						<entry>16</entry>
						<entry>The user triggered to stop moving its character upwards.
						</entry>
						<entry>ownerId</entry>
					</row>
					<row>
						<entry>MOVE_DOWN_RELEASED</entry>
						<entry>17</entry>
						<entry>The user triggered to stop moving its character downwards.
						</entry>
						<entry>ownerId</entry>
					</row>
					<row>
						<entry>SET_SPEEDVECTOR</entry>
						<entry>18</entry>
						<entry>Sets the speed vector of a gameobject to a new value.
						</entry>
						<entry>ownerId</entry>
						<entry>objectID</entry>
						<entry>newSpeedVectorX</entry>
						<entry>newSpeedVectorY</entry>
					</row>
					<row>
						<entry>SET_SPEED</entry>
						<entry>19</entry>
						<entry>Sets absolute speed of a gameobject to a new value.
						</entry>
						<entry>ownerId</entry>
						<entry>objectId</entry>
						<entry>newSpeed</entry>
					</row>
					<row>
						<entry>ITEM_USE</entry>
						<entry>30</entry>
						<entry>The user triggered to use the item in his inventory slot 'slotNum' at the position (targetX,targetY).
						</entry>
						<entry>slotNum</entry>
						<entry>ownerID</entry>
						<entry>targetX</entry>
						<entry>targetY</entry>
					</row>
				</tbody>
			</tgroup>
		</table>

		<table frame="all">
			<title>Networking-Events</title>
			<tgroup cols="4">
				<thead>
					<row>
						<entry>Event</entry>
						<entry>Id=arg0</entry>
						<entry>Description</entry>
						<entry>arg1</entry>
						<entry>arg2</entry>
						<entry>arg3</entry>
					</row>
				</thead>
				<tbody>
					<row>
						<entry>CONNECTION_ESTABLISHED</entry>
						<entry>201</entry>
						<entry>This event is sent to the client by the server if the
							client connected successfully. The server assigns a clientId to
							the client and tells the client about it.
						</entry>
						<entry>clientId</entry>
					</row>
					<row>
						<entry>CONNECTION_ABORTED</entry>
						<entry>202</entry>
						<entry>This event is sent to all clients if a client disconnected. The client id of the disconnected client will be given.</entry>
						<entry>clientId</entry>
					</row>
					<row>
						<entry>INIT_INFORMATION</entry>
						<entry>203</entry>
						<entry>This event must be sent by the client to pass information the server needs for connection initialization.</entry>
						<entry>clientRole</entry>
						<entry>clientName</entry>
						<entry>clientId</entry>
					</row>
					<row>
						<entry>GAME_READY</entry>
						<entry>204</entry>
						<entry>This event is triggered locally on client to notify that all data has been loaded.</entry>
						<entry>-</entry>
						<entry>-</entry>
						<entry>-</entry>
					</row>
					<row>
						<entry>CONNECTION_QUIT</entry>
						<entry>205</entry>
						<entry>This event is sent from client when user closes client.</entry>
						<entry>clientId</entry>
					</row>
				</tbody>
			</tgroup>
		</table>
	</section>
</article>