<?xml version="1.0" encoding="UTF-8"?>
<nifty xmlns="nifty.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="nifty.xsd nifty.xsd">
	<useStyles filename="nifty-default-styles.xml" />
	<useControls filename="nifty-default-controls.xml" />
	<controlDefinition name="keybindingsEntry">
		<panel childLayout="horizontal" width="100%" align="center"
			padding="5px,5px,5px,5px">
			<control id="#description" name="label" align="left"
				textHAlign="left" height="23px" width="50%" wrap="false" />
			<control id="#current-key" name="label" align="right"
				textHAlign="left" height="23px" width="30%" wrap="false" />
		</panel>
		<interact onClick="listBoxItemClicked()" />
		<effect>
			<onCustom customKey="select" name="colorBar" post="false"
				color="#444f" neverStopRendering="true" timeType="infinite" />
			<onCustom customKey="select" name="textColor" post="false"
				color="#fc0f" neverStopRendering="true" timeType="infinite" />
		</effect>
	</controlDefinition>
	<popup id="resPopup" childLayout="center" backgroundColor="#000a">
		<panel style="nifty-panel-red" childLayout="vertical" padding="18px,28px,40px,16px" width="30%" height="20%" align="center" valign="center">
		    <control type="label" font="aurulent-sans-16.fnt" color="#000f"
											text="Selected resolution is not supported in fullscreen" margin="5px" />
		    <control type="button" id="popupOkButton" font="aurulent-sans-16.fnt"
					color="#ffff" label="Ok" align="left">
					<interact onClick="closeResPopup()" />
				</control>
		    
		</panel>
	</popup>
	<popup id="applyPopup" childLayout="center" backgroundColor="#000a">
		<panel style="nifty-panel-red" childLayout="vertical" padding="18px,28px,40px,16px" width="50%" height="20%" align="center" valign="center">
		    <control type="label" font="aurulent-sans-16.fnt" color="#000f"
											text="You have to restart the game to apply the new resolution." margin="5px" />
		    <control type="button" id="popupOkButton" font="aurulent-sans-16.fnt"
					color="#ffff" label="Ok" align="center">
					<interact onClick="closeApplyPopup()" />
				</control>
		    
		</panel>
	</popup>
	<screen id="settings"
		controller="de.illonis.eduras.gameclient.gui.hud.nifty.SettingsController">
		<layer childLayout="vertical">
			<panel childLayout="center" width="*">
				<control type="label" id="settingsTitle" font="aurulent-sans-16.fnt"
					color="#888f" text="Settings" margin="0px,0px,0px,10px" />
			</panel>
		</layer>
		<layer id="topLayer" childLayout="center">
			<panel backgroundColor="#333f" height="80%" width="80%"
				childLayout="vertical">
				<control type="button" id="backButton" font="aurulent-sans-16.fnt"
					color="#ffff" label="Back" align="left">
					<interact onClick="back()" />
				</control>
				// create a tabs control
				<control id="settings_tabs" name="tabGroup" margin="20px,0,0,0"
					buttonHeight="50px">
					<control id="tab_1" name="tab" caption="Gameplay"
						childLayout="vertical">
						<panel childLayout="vertical" width="*" height="*">
							<panel childLayout="horizontal" width="*">
								<control id="chooseOnPressBox" name="checkbox" margin="5px" />
								<control type="label" font="aurulent-sans-16.fnt" color="#000f"
									text="Choose item when pressing item key" margin="5px" />
							</panel>
							<panel childLayout="horizontal" width="*">
								<control id="continuousItemUsageBox" name="checkbox"
									margin="5px" />
								<control type="label" font="aurulent-sans-16.fnt" color="#000f"
									text="continuous Item Usage" margin="5px" />
							</panel>
							<panel childLayout="horizontal" width="*">
								<control id="mouseWheelSwitchBox" name="checkbox" margin="5px" />
								<control type="label" font="aurulent-sans-16.fnt" color="#000f"
									text="Switch item when moving mouse wheel" margin="5px" />
							</panel>
						</panel>
					</control>
					<control id="#tab_2" name="tab" caption="Keybindings"
						childLayout="vertical">
						<panel childLayout="vertical" width="*" height="*">
							<panel childLayout="center" width="*">
								<control type="button" id="resetButton" width=""
									font="aurulent-sans-16.fnt" color="#ffff" label="Reset selected to default"
									align="left">
									<interact onClick="resetKeyBinding()" />
								</control>
								<control type="button" id="resetAllButton" width=""
									font="aurulent-sans-16.fnt" color="#ffff" label="Reset all to default"
									align="right" margin="10px,10px,10px,10px">
									<interact onClick="resetAllKeyBindings()" />
								</control>
							</panel>
							<control type="label" id="hintLabel" font="aurulent-sans-16.fnt"
								color="#000f" width="*" text="" />
							<control id="#keyBindingsList" name="listBox" vertical="on"
								horizontal="off" selection="Single" displayItems="10" height="*" visibleToMouse="true"
								viewConverterClass="de.illonis.eduras.gameclient.gui.hud.nifty.KeyBindingsViewConverter">
								<control name="keybindingsEntry"
									controller="de.lessvoid.nifty.controls.listbox.ListBoxItemController" />
							</control>
						</panel>
					</control>
					<control id="tab_3" name="tab" caption="Display"
						childLayout="vertical">
						<panel childLayout="vertical" width="*" height="*">
							<panel childLayout="horizontal" width="*" height="50px"
								padding="15px,15px,15px,15px">
								<control type="label" font="aurulent-sans-16.fnt" color="#000f"
									text="Display Resolution:" padding="0px,10px,0px,10px" />
								<control id="resolutionSelect" displayItems="10" name="dropDown"
									width="50%" />
							</panel>
							<control type="label" id="currentResolution" font="aurulent-sans-16.fnt"
								color="#000f" width="50%" text="" />
							<panel childLayout="horizontal" width="*" height="50px"
								padding="15px,15px,15px,15px">
								<control id="windowedModeBox" name="checkbox" margin="5px" />
								<control type="label" font="aurulent-sans-16.fnt" color="#000f"
									text="Fullscreen" margin="5px" />
							</panel>
							<panel childLayout="horizontal" width="*" height="50px"
								padding="15px,15px,15px,15px">
								<control type="button" id="applyDisplayButton" width=""
									font="aurulent-sans-16.fnt" color="#ffff" label="Apply"
									align="left">
									<interact onClick="applyResolution()" />
								</control>
							</panel>
						</panel>
					</control>
					<control id="tab_4" name="tab" caption="Sound"
						childLayout="vertical">
						<panel childLayout="vertical" width="*" height="*">
							<panel childLayout="horizontal" width="*" height="50px"
								padding="15px,15px,15px,15px">
								<control type="label" font="aurulent-sans-16.fnt" color="#000f"
									text="Sound volume:" padding="10px,10px,0px,10px" />
								<control name="horizontalSlider" id="soundVolumeSlider"
                                 buttonStepSize="1"
                                 initial="1"
                                 max="1"
                                 min="0"
                                 stepSize="0.01"/>
							</panel>
							<panel childLayout="horizontal" width="*" height="50px"
								padding="15px,15px,15px,15px">
								<control type="label" font="aurulent-sans-16.fnt" color="#000f"
									text="Music volume:" padding="10px,10px,0px,10px" />
								<control name="horizontalSlider" id="musicVolumeSlider"
                                 buttonStepSize="1"
                                 initial="1"
                                 max="1"
                                 min="0"
                                 stepSize="0.01"/>
							</panel>
						</panel>
					</control>
				</control>

			</panel>
		</layer>
	</screen>
</nifty>
